/themes/wp-child-theme-template/node_modules
/themes/wp-child-theme-template/.parcel-cache
/themes/wp-child-theme-template/dist
/ai1wm-backups/
/upgrade
/upgrade-temp-backup
/uploads
/uploads-webpc
/plugins/*
!/plugins/theme-customizations/