$medium-grey: #626262;
$background-grey: #f2f0e5;
$dark-grey: #838383;
$primary: #315167;
$hover-grey: rgba(35, 90, 108, 0.12);
$white: #ffffff;
$black: #000000;

$large-body-text: 1.5rem;

:root {
  --root-padding-left: 24px;
  --root-padding-right: 24px;
}

body {
  padding-left: var(--root-padding-left);
  padding-right: var(--root-padding-right);
}

// Style System

$space-inset-default: 16px 16px 16px 16px;

$space-inset-1: 4px 4px 4px 4px;
$space-inset-2: 8px 8px 8px 8px;
$space-inset-3: 16px 16px 16px 16px;
$space-inset-4: 32px 32px 32px 32px;
$space-inset-5: 64px 64px 64px 64px;

$space-squish-inset-1: 8px 4px 4px 8px;
$space-squish-inset-2: 16px 8px 8px 16px;
$space-squish-inset-3: 32px 16px 16px 32px;
$space-squish-inset-4: 64px 32px 32px 64px;
$space-squish-inset-5: 128px 64px 64px 128px;

$space-stretch-inset-1: 12px 8px 8px 12px;
$space-stretch-inset-2: 4px 16px 16px 24px;
$space-stretch-inset-3: 48px 32px 32px 48px;
$space-stretch-inset-4: 96px 64px 64px 96px;
$space-stretch-inset-5: 192px 128px 128px 192px;

$space-stack-default: 0 0 16px 0;
$space-stack-1: 0 0 4px 0;
$space-stack-2: 0 0 8px 0;
$space-stack-3: 0 0 16px 0;
$space-stack-4: 0 0 32px 0;
$space-stack-5: 0 0 64px 0;

$vertical-space-default: 16px 0 16px 0;
$vertical-space-1: 4px 0 4px 0;
$vertical-space-2: 8px 0 8px 0;
$vertical-space-3: 16px 0 16px 0;
$vertical-space-4: 32px 0 32px 0;
$vertical-space-5: 64px 0 64px 0;

$space-default: 16px;
$space-1: 4px;
$space-2: 8px;
$space-3: 16px;
$space-4: 32px;
$space-5: 64px;

// @mixin theme($theme: DarkGray) {
//   background: $theme;
//   box-shadow: 0 0 1px rgba($theme, 0.25);
//   color: #fff;
// }

// .info {
//   @include theme;
// }

@mixin hoverState {
  text-decoration: underline;
  cursor: hover;
}

// @mixin circle($width, $height, $color) {
//   width: $width;
//   height: $height;
//   background: $color;
//   border-radius: 50%;
// }

// .circle-red {
//   @include circle(350px, 350px, red);
// }
